body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  color: #ffffff;
  background: #212123 !important;
  height: 100%;
}

nav {
  background: #191919;
  width: 100%;
  height: 65px;
  position: fixed;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
}

nav h1 {
  font-size: 16px;
}

nav img {
  text-align: right;
  height: 30px;
  float: left;
  margin-top: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav i {
  font-weight: 100;
}

.contenedor {
  padding-top: 65px;
  height: auto;
  background: #212123 !important;
  display: grid;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

.contenedorAlt {
  padding-top: 65px;
  height: auto;
  background: #212123 !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

.contenedorVolver {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

.item {
  background: #28282a;
  margin: 15px;
  float: left;
  /*box-shadow: 0px 4px 10px rgba(0,0,0,0.10);*/
  border-radius: 10px;
  text-align: center;
  display: grid;
  place-items: center;
}

.item:hover {
  outline: 1px solid;
  outline-color: #ffffff;
}

.item img {
  width: 90%;
  margin: 15px;
}

.item input {
  border-radius: 25px;
  padding: 5px;
  margin: 8px;
  text-align: center;
}

.itemVolver {
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  display: grid;
  place-items: center;
}

.itemVolver h2 {
  font-weight: 400;
  font-size: 20px;
}

.numeracion {
  background: #ffffff;
  color: #212123;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo {
  margin: 15px;
  font-style: italic;
  font-size: 22px;
}

.linea {
  margin-top: 0px;
  width: 40%;
  height: 2px;
  background: #8a5ed1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.consigna {
  margin: 15px;
  font-size: 14px;
}

.respuesta {
  margin: 15px;
  font-size: 15px;
}

.boton {
  width: 100%;
  height: auto;
  display: contents;
}

.botonTexto {
  width: 20%;
  height: 30px;
  line-height: 30px;
  background-color: #8a5ed1;
  border-radius: 50px;
}

.botonTextoAlt {
  width: fit-content;
  height: 35px;
  line-height: 35px;
  background-color: #8a5ed1;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 1rem;
  padding: 1px 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#btnCalcular {
  margin-top: 10px;
}
